name: build SPIKE

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


jobs:
  uartremote:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: pip install mpy-cross
      run: pip install mpy-cross
    - name: run python script
      run: |
        cd UartRemote/MicroPython/SPIKE
        python create_install_file.py
    - uses: actions/upload-artifact@v2
      with:
        name: install_uartremote.py
        path: UartRemote/MicroPython/SPIKE/install_uartremote.py
